brotlipy==0.7.0
cached-property==1.5.1
Cartopy @ file:///D:/bld/cartopy_1589818852694/work
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1595805794566/work
chardet==3.0.4
cryptography @ file:///D:/bld/cryptography_1595349005639/work
cx-Freeze==6.2
cycler==0.10.0
fake-useragent==0.1.11
geographiclib==1.50
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1593296620954/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
kiwisolver==1.2.0
matplotlib @ file:///D:/bld/matplotlib-base_1595353277961/work
mkl-service==2.3.0
numpy @ file:///D:/bld/numpy_1595523081734/work
olefile==0.46
OWSLib @ file:///home/conda/feedstock_root/build_artifacts/owslib_1591376955812/work
Pillow @ file:///D:/bld/pillow_1594213067156/work
psutil @ file:///D:/bld/psutil_1594827164091/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pycryptodomex @ file:///D:/bld/pycryptodomex_1593613066827/work
pyenchant==3.1.1
pyepsg==0.4.0
pygit2 @ file:///D:/bld/pygit2_1588351020887/work
pykdtree==1.3.1
PyMySQL @ file:///home/conda/feedstock_root/build_artifacts/pymysql_1595447440673/work
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyproj @ file:///D:/bld/pyproj_1588596180607/work
pyshp==2.1.0
PySocks==1.7.1
pysrs==1.0.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
qtmodern @ file:///C:/Users/smalb/facade-technologies-inc/qtmodern
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
scipy @ file:///C:/ci/scipy_1592916963468/work
selenium==3.141.0
Shapely==1.7.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
SQLAlchemy @ file:///D:/bld/sqlalchemy_1593116549410/work
tornado==6.0.4
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1595434816409/work
win-inet-pton==1.1.0
wincertstore==0.2
